 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1287px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 900;
  margin: 188px auto 0 360px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  font-style: normal;
  margin: 46px 371px 0 359px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  width: 749px;
  margin: 61px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 186px;
    margin-right: 242px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 242px;
    margin-left: 288px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1358px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 191px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 410px;
    margin-top: 44px;
    margin-left: 149px;
    margin-right: 161px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 57px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 59px;
    margin-right: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2159px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 254px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 59px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 46px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1603px;
}

.u-section-2 .u-text-1 {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 92px auto 0 156px;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  width: 828px;
  margin: 40px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 6px auto 60px;
  padding: 14px 38px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1647px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 86px;
    margin-left: 73px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-top: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1983px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2881px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.8125rem;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: 59px;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 60px;
  }
}